<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remaining Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Remaining Tasks</h1>
    <a href="/tasks" class="btn btn-secondary mb-3">Back to All Tasks</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Task Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${todo}">
            <td th:text="${task.task}">Task Name</td>
            <td th:text="${task.description}">Description</td>
            <td th:text="${task.priority}">Priority</td>
            <td>
                <a th:href="@{/tasks/edit/{id}(id=${task.id})}" class="btn btn-secondary">Edit</a>
                <a th:href="@{/tasks/delete/{id}(id=${task.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
